In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [124]:
df= pd.read_csv('Manhattan12.csv')
df.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013
3,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1309,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,374,637",15/05/2013
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1310,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,649,565",13/05/2013

### show the shape of the dataset

In [125]:
df.shape

(27395, 21)

### Rename inccorectly formated column name

In [126]:
df.rename(columns = {'SALE\nPRICE':'SALES'}, inplace = True)

In [127]:
df.rename(columns = {'BUILDING CLASS CATEGORY':'BUILDING_CLASS_CATEGORY'}, inplace = True)

In [128]:
df.rename(columns = {'BUILDING CLASS AT PRESENT':'BUILDING_CLASS_PRESENT'}, inplace = True)

In [129]:
df.rename(columns = {'RESIDENTIAL UNITS':'RESIDENTIAL_UNITS'}, inplace = True)

In [130]:
df.rename(columns = {'COMMERCIAL UNITS':'COMMERCIAL_UNITS'}, inplace = True)

In [131]:
df.rename(columns = {'TOTAL UNITS':'TOTAL_UNITS'}, inplace = True)

In [132]:
df.rename(columns = {'LAND SQUARE FEET':'LAND_SQUARE_FEET'}, inplace = True)   TAX CLASS AT PRESENT

SyntaxError: invalid syntax (502249458.py, line 1)

In [ ]:
df.rename(columns = {'TAX CLASS AT PRESENT':'TAX_CLASS_AT_PRESENT'}, inplace = True)

In [ ]:
df.rename(columns = {'GROSS SQUARE FEET':'GROSS_SQUARE_FEET'}, inplace = True)

In [ ]:
df.rename(columns = {'YEAR BUILT':'YEAR_BUILT'}, inplace = True)

In [ ]:
df.rename(columns = {'TAX CLASS AT TIME OF SAL':'TAX_CLASS_AT_TIME_OF_SAL'}, inplace = True)

In [ ]:
df.rename(columns = {'BUILDING CLASS AT TIME OF SALE	':'BUILDING_CLASS_AT_TIME_OF_SALE'}, inplace = True)

In [ ]:
df.rename(columns = {'TAX CLASS AT TIME OF SALE':'TAX_CLASS_AT_TIME_OF_SALE'}, inplace = True)

In [ ]:
df.rename(columns = {'BUILDING CLASS AT TIME OF SALE':'BUILDING_CLASS_AT_TIME_OF_SALE'}, inplace = True)

In [ ]:
df.rename(columns = {'ZIP CODE':'ZIP_CODE'}, inplace = True)

In [ ]:
df.rename(columns = {'SALE DATE':'SALE_DATE'}, )

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE_DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013
3,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1309,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,374,637",15/05/2013
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1310,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,649,565",13/05/2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27390,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2170,400,,V1,44 FAIRVIEW AVENUE,,...,0,0,0,"16,217",0,0,4,V1,$0,29/04/2013
27391,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2180,75,,V1,BENNETT AVENUE,,...,0,0,0,"4,150",0,0,4,V1,"$495,000",26/06/2013
27392,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2180,75,,V1,BENNETT AVENUE,,...,0,0,0,"4,150",0,0,4,V1,$0,2/4/2013
27393,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2180,76,,V1,N/A MAGAW PLACE,,...,0,0,0,760,0,0,4,V1,$0,26/06/2013
27394,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2180,76,,V1,MAGAW PLACE,,...,0,0,0,760,0,0,4,V1,$0,2/4/2013

In [ ]:
df.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING_CLASS_PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALES,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013

### for each numberical coulmn remove ',' the '$' for each sale price and then convert them into numeric

In [ ]:
# Remove the "," and "$" symbols and convert them into numeric values
df['SALES'] = pd.to_numeric(df['SALES'].str.replace(',', '').str.replace('$', '') )

KeyError: 'SALES'

In [ ]:
df.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013

convert Sale date colum into datetime

In [ ]:
# Convert the Sale date column to datetime format
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])

KeyError: 'SALE_DATE'

In [ ]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_PRESENT', 'ADDRESS', 'APART\nMENT\nNUMBER', 'ZIP CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'SALES',
       'SALE DATE'],
      dtype='object')

### for each categorical varibale remove the spaces and then replaces the empty string by NaN

In [ ]:

# Replace empty strings with NaN values in categorical variables
df['BUILDING_CLASS_CATEGORY'] = df['BUILDING_CLASS_CATEGORY'].replace('', np.nan)
df['ADDRESS'] = df['ADDRESS'].replace('', np.nan)
df['BUILDING_CLASS_AT_TIME_OF_SALE'] = df['BUILDING_CLASS_AT_TIME_OF_SALE'].replace('', np.nan)

In [ ]:
df.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING_CLASS_PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALES,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,2214693,20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,1654656,16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,...,0,0,0,0,0,0,2,R4,1069162,23/05/2013

In [ ]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_PRESENT', 'ADDRESS', 'APART\nMENT\nNUMBER', 'ZIP CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'SALES',
       'SALE DATE'],
      dtype='object')

### replace the zeros inprice land squares by Nan

In [ ]:
# Replace zeros with NaN values in the Price_Land_Squares column
df['BOROUGH'] = df['BOROUGH'].replace(0, np.nan)
df['BLOCK'] = df['BLOCK'].replace(0, np.nan)
df['BUILDING_CLASS_AT_TIME_OF_SALE'] = df['BUILDING_CLASS_AT_TIME_OF_SALE'].replace(0, np.nan)
df['YEAR_BUILT'] = df['YEAR_BUILT'].replace(0, np.nan)
df['GROSS_SQUARE_FEET'] = df['GROSS_SQUARE_FEET'].replace(0, np.nan)
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].replace(0, np.nan)
df['TOTAL_UNITS'] = df['TOTAL_UNITS'].replace(0, np.nan)
df['COMMERCIAL_UNITS'] = df['COMMERCIAL_UNITS'].replace(0, np.nan)
df['RESIDENTIAL_UNITS'] = df['RESIDENTIAL_UNITS'].replace(0, np.nan)
df['ZIP_CODE'] = df['ZIP_CODE'].replace(0, np.nan)

In [ ]:
df.head(10)

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING_CLASS_PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALES,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,2214693,20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,1654656,16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,1069162,23/05/2013
3,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1309,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,1374637,15/05/2013
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1310,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,1649565,13/05/2013
5,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1311,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,1705568,21/05/2013
6,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1312,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,2036500,10/7/2013
7,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1314,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,2214693,4/6/2013
8,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1317,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,2418343,31/05/2013
9,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1318,,,345 WEST 14TH STREET,,...,0,NaN,0,0,0,NaN,2,R4,2749275,24/05/2013

### show summary of all missing values as well as the summary statistics

In [ ]:
# Show the summary of missing values
print("Missing Values Summary:\n")
print(df.isnull().sum())

# Show the summary statistics
print("\nSummary Statistics:\n")
print(df.describe())

Missing Values Summary:

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASE-MENT                             0
BUILDING_CLASS_PRESENT                0
ADDRESS                               0
APART\nMENT\nNUMBER                   0
ZIP_CODE                              1
RESIDENTIAL_UNITS                     0
COMMERCIAL_UNITS                  23962
TOTAL_UNITS                           0
LAND_SQUARE_FEET                      0
GROSS_SQUARE_FEET                     0
YEAR_BUILT                         6441
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALES                                 0
SALE DATE                             0
dtype: int64

Summary Statistics:

       BOROUGH         BLOCK           LOT      ZIP_CODE  COMMERCIAL_UNITS  \
count  27395.0  27395.000000  27395.000000  27394.000000       3433.000000
mean       1.0   1109.666728    741.789086  10029.226217          2.992426
std        0.0    465.994469    819.422424     34.966983         12.689861
min        1.0      7.000000      1.000000  10001.000000          1.000000
25%        1.0    877.000000     37.000000  10016.000000          1.000000
50%        1.0   1047.000000   1007.000000  10019.000000          2.000000
75%        1.0   1411.000000   1233.000000  10027.000000          2.000000
max        1.0   2250.000000   9117.000000  10463.000000        604.000000

         YEAR_BUILT  TAX_CLASS_AT_TIME_OF_SALE         SALES
count  20954.000000               27395.000000  2.739500e+04
mean    1953.080557                   2.488118  1.848001e+06
std       37.692641                   0.891723  1.633228e+07
min     1000.000000                   1.000000  0.000000e+00
25%     1920.000000                   2.000000  0.000000e+00
50%     1955.000000                   2.000000  4.500000e+05
75%     1987.000000                   4.000000  1.150000e+06
max     2013.000000                   4.000000  1.307965e+09

###  Drop the BOROUG and EASE_MENT columns

In [ ]:
# Drop the BOROUG and EASE_MENT columns
df = df.drop(columns=['BOROUGH', 'EASE-MENT',"APART\nMENT\nNUMBER"])

In [ ]:
df.head(7)

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
0,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013
3,,13 CONDOS - ELEVATOR APARTMENTS,,738,1309,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$1,374,637",15/05/2013
4,,13 CONDOS - ELEVATOR APARTMENTS,,738,1310,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$1,649,565",13/05/2013
5,,13 CONDOS - ELEVATOR APARTMENTS,,738,1311,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$1,705,568",21/05/2013
6,,13 CONDOS - ELEVATOR APARTMENTS,,738,1312,,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,"$2,036,500",10/7/2013